
body{

    background-color: rgb(192, 223, 248);
}
.navdiv{
    margin: 0px;
    padding: 0px;
}

.navdiv img{
    width: 100px;
    margin: 0px;
    padding: 0px;
}

img{
   width: 150px;

}

li{
    display: inline-block;
    padding: 10px;
    margin: 15px;
    position: relative;
    top: -95px;
    left: 65px;
    background-color: rgb(149, 149, 250);
    border: .5px red dotted;
}
#first-id{
    position: relative;
    top: -100px;
    left: 122px;
    margin: 0px;
}

span{
    font:  italic 19px bold times;
    color: green;
}

.containment{
    display: flex;
    gap: 20px;
}

.home-div{
    font: 1.2rem italic bold ;
}

.profile_01{
    display: flex;
    gap: 15px;
}

.profile_01 img{
    height: 250px;
    width: 250px;
    margin: 0px;
}

.profile_01 p{
    margin: 0px;
    text-align: center;
}

.profile-pix{
    height: 250px;
    width: 230px;
}
@media (max-width:420px) {
    .containment{
        display:block;
        gap: 10px;
}
   .home-div img{
        width: 100px;
   }

   .office{
    font-size: 15px;
   }

   h3{
    font-size: 15px;
   }

   .profile_01{
    display: inline;

   }

   .profile_01 img{
    height: 125px;
    width: 125px;
    /* margin: .5rem; */
   }

   .profile_01 p{
    font-size: 1rem;
    text-align: justify;
    /* margin: 0.3rem;
    padding: 0px; */
    
    /* position: absolute; */
   }
   
   h2{
    font-size: 1rem;
   }
}

.mygrid{
    width: 800px;
    display: grid;
    grid-template-columns:  repeat(8, 100px);
    grid-template-rows:  repeat(8, 100px ) ;
}

.white{
    /* color: white; */
    /* height: 100px;
    width: 100px; */
    background-color: rgb(194, 255, 255);
}

.black{
    /* color: white; */
    /* height: 100px;
    width: 100px; */
    background-color: black;

}

.car{
    /* height: 200px; */
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(4, 100px);
}

.blacki{
    background-color: black;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}

.whitii{
    background-color: teal;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}

.size{
    background-color: green;
    display: grid;
    grid-template-columns: 150px auto;
    grid-auto-rows: 150px auto;
}

.blacky{
    background-color: black;
    color: white;
    text-align: center;
    /* padding-top: 15px; */
}

.whitey{
    background-color: teal;
    color: white;
    text-align: center;
}

.whitey p{
    position: relative;
    top: 50px;
}

.Before-before{
display: grid;
grid-template-columns: 1fr 2fr 3fr 4fr;
grid-template-rows: 1fr 4fr;
background-color: blue;
text-align: center;
height: 150px;
}

.sting{
    background-color: red;
}

.stinge{
    background-color: brown;
}

.sizing{
    background-color: aqua;
    display: grid;
    grid-template-columns: auto 400px minmax(200px,500px);
    grid-template-rows: 1fr 1fr 2fr;
    grid-auto-rows: 50px;
    text-align: center;
    font: bold italic 15px verdana;
    color: brown;
}

.sizing div{
   border: .5px solid green ; 
}

.clown{
    display: grid;
    background-color: rgb(253, 222, 227);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;

}

.clown div{
    font-size: 5rem;
    height: 250px;
}